
    -  Benchmark_name 
         - META:
             # Global options for the Workload.
             Proc_oprate_threshold: 75
             Global_oprate_threshold: 95
             Proc_latency_threshold: 0
             Global_latency_threshold: 0
             Workload_variance: 0
             Dedicated_subdirectory: 0
             Business_metric: "meta"
             Warmup_time: 300
         - Components:
             - META:
                 # Component options
                 Op_rate: 500
                 Platform_type: "Unix"
                 Instances: 5
                 File_size: "16k"
                 Dir_count: 12
                 Files_per_dir: 16
                 Extra_dir_levels: 0
                 Chaff_count: 0
                 Shared_buckets: 1
                 System_call_distribution:
                     - Names:
                         # Op type name strings
                         Read_string: "Read"
                         Read_file_string: "Read_file"
                         Mmap_read_string: "Mmap_read"
                         Random_read_string: "Random_read"
                         Write_string: "Write"
                         Write_file_string: "Write_file"
                         Mmap_write_string: "Mmap_write"
                         Random_write_string: "Random_write"
                         Read_modify_write_string: "Read_modify_write"
                         Mkdir_string: "Mkdir"
                         Rmdir_string: "Rmdir"
                         Unlink_string: "Unlink"
                         Unlink2_string: "Unlink2"
                         Create_string: "Create"
                         Append_string: "Append"
                         Lock_string: "Lock"
                         Access_string: "Access"
                         Stat_string: "Stat"
                         Neg_stat_string: "Neg_stat"
                         Chmod_string: "Chmod"
                         Readdir_string: "Readdir"
                         Copyfile_string: "Copyfile"
                         Rename_string: "Rename"
                         Statfs_string: "Statfs"
                         Pathconf_string: "Pathconf"
                         Trunc_string: "Trunc"
                         Custom1_string: "Custom1"
                         Custom2_string: "Custom2"
                     - Percentages:
                         #
                         # Percentages of each op type in the mix
                         #
                         Read_percent: 3
                         Read_file_percent: 0
                         Mmap_read_percent: 0
                         Random_read_percent: 18
                         Write_percent: 0
                         Write_file_percent: 0
                         Mmap_write_percent: 0
                         Random_write_percent: 3
                         Read_modify_write_percent: 0
                         Mkdir_percent: 0
                         Rmdir_percent: 0
                         Unlink_percent: 0
                         Unlink2_percent: 0
                         Create_percent: 0
                         Append_percent: 0
                         Lock_percent: 0
                         Access_percent: 50
                         Stat_percent: 11
                         Neg_stat_percent: 0
                         Chmod_percent: 0
                         Readdir_percent: 0
                         Copyfile_percent: 0
                         Rename_percent: 0
                         Statfs_percent: 15
                         Pathconf_percent: 0
                         Trunc_percent: 0
                         Custom1_percent: 0
                         Custom2_percent: 0
                 Transfer_sizes:
                     - Read_xfer_elements:
                         # Read transfer range slots. Min, Max, Percent
                         Read_elem_0_xfer_min_size: 1
                         Read_elem_0_xfer_max_size: 511
                         Read_elem_0_xfer_percent: 0
                         Read_elem_1_xfer_min_size: 512
                         Read_elem_1_xfer_max_size: 1023
                         Read_elem_1_xfer_percent: 0
                         Read_elem_2_xfer_min_size: 1024
                         Read_elem_2_xfer_max_size: 2047
                         Read_elem_2_xfer_percent: 0
                         Read_elem_3_xfer_min_size: 2048
                         Read_elem_3_xfer_max_size: 4095
                         Read_elem_3_xfer_percent: 0
                         Read_elem_4_xfer_min_size: 4096
                         Read_elem_4_xfer_max_size: 4096
                         Read_elem_4_xfer_percent: 0
                         Read_elem_5_xfer_min_size: 4096
                         Read_elem_5_xfer_max_size: 8191
                         Read_elem_5_xfer_percent: 2
                         Read_elem_6_xfer_min_size: 8192
                         Read_elem_6_xfer_max_size: 8192
                         Read_elem_6_xfer_percent: 2
                         Read_elem_7_xfer_min_size: 8192
                         Read_elem_7_xfer_max_size: 16383
                         Read_elem_7_xfer_percent: 8
                         Read_elem_8_xfer_min_size: 16384
                         Read_elem_8_xfer_max_size: 16384
                         Read_elem_8_xfer_percent: 65
                         Read_elem_9_xfer_min_size: 16384
                         Read_elem_9_xfer_max_size: 32767
                         Read_elem_9_xfer_percent: 23
                         Read_elem_10_xfer_min_size: 32768
                         Read_elem_10_xfer_max_size: 65535
                         Read_elem_10_xfer_percent: 0
                         Read_elem_11_xfer_min_size: 65536
                         Read_elem_11_xfer_max_size: 65536
                         Read_elem_11_xfer_percent: 0
                         Read_elem_12_xfer_min_size: 98304
                         Read_elem_12_xfer_max_size: 98304
                         Read_elem_12_xfer_percent: 0
                         Read_elem_13_xfer_min_size: 65536
                         Read_elem_13_xfer_max_size: 131072
                         Read_elem_13_xfer_percent: 0
                         Read_elem_14_xfer_min_size: 262144
                         Read_elem_14_xfer_max_size: 262144
                         Read_elem_14_xfer_percent: 0
                         Read_elem_15_xfer_min_size: 524288
                         Read_elem_15_xfer_max_size: 524288
                         Read_elem_15_xfer_percent: 0
                     - Write_xfer_elements:
                         # Write transfer range slots. Min, Max, Percent
                         Write_elem_0_xfer_min_size: 1
                         Write_elem_0_xfer_max_size: 511
                         Write_elem_0_xfer_percent: 3
                         Write_elem_1_xfer_min_size: 512
                         Write_elem_1_xfer_max_size: 1023
                         Write_elem_1_xfer_percent: 0
                         Write_elem_2_xfer_min_size: 1024
                         Write_elem_2_xfer_max_size: 2047
                         Write_elem_2_xfer_percent: 1
                         Write_elem_3_xfer_min_size: 2048
                         Write_elem_3_xfer_max_size: 4095
                         Write_elem_3_xfer_percent: 0
                         Write_elem_4_xfer_min_size: 4096
                         Write_elem_4_xfer_max_size: 4096
                         Write_elem_4_xfer_percent: 0
                         Write_elem_5_xfer_min_size: 4096
                         Write_elem_5_xfer_max_size: 8191
                         Write_elem_5_xfer_percent: 3
                         Write_elem_6_xfer_min_size: 8192
                         Write_elem_6_xfer_max_size: 8192
                         Write_elem_6_xfer_percent: 4
                         Write_elem_7_xfer_min_size: 8192
                         Write_elem_7_xfer_max_size: 16383
                         Write_elem_7_xfer_percent: 84
                         Write_elem_8_xfer_min_size: 16384
                         Write_elem_8_xfer_max_size: 16384
                         Write_elem_8_xfer_percent: 0
                         Write_elem_9_xfer_min_size: 16384
                         Write_elem_9_xfer_max_size: 32767
                         Write_elem_9_xfer_percent: 5
                         Write_elem_10_xfer_min_size: 32768
                         Write_elem_10_xfer_max_size: 65535
                         Write_elem_10_xfer_percent: 0
                         Write_elem_11_xfer_min_size: 65536
                         Write_elem_11_xfer_max_size: 65536
                         Write_elem_11_xfer_percent: 0
                         Write_elem_12_xfer_min_size: 98304
                         Write_elem_12_xfer_max_size: 98304
                         Write_elem_12_xfer_percent: 0
                         Write_elem_13_xfer_min_size: 131072
                         Write_elem_13_xfer_max_size: 131072
                         Write_elem_13_xfer_percent: 0
                         Write_elem_14_xfer_min_size: 262144
                         Write_elem_14_xfer_max_size: 262144
                         Write_elem_14_xfer_percent: 0
                         Write_elem_15_xfer_min_size: 524288
                         Write_elem_15_xfer_max_size: 524288
                         Write_elem_15_xfer_percent: 0
                     - File_size_elements:
                         # File size range slots. Min, Max, Percent
                         File_size_elem_0_min_size: 1
                         File_size_elem_0_max_size: 511
                         File_size_elem_0_percent: 0
                         File_size_elem_1_min_size: 512
                         File_size_elem_1_max_size: 1023
                         File_size_elem_1_percent: 0
                         File_size_elem_2_min_size: 1024
                         File_size_elem_2_max_size: 2047
                         File_size_elem_2_percent: 0
                         File_size_elem_3_min_size: 2048
                         File_size_elem_3_max_size: 4095
                         File_size_elem_3_percent: 0
                         File_size_elem_4_min_size: 4096
                         File_size_elem_4_max_size: 4096
                         File_size_elem_4_percent: 0
                         File_size_elem_5_min_size: 4096
                         File_size_elem_5_max_size: 8191
                         File_size_elem_5_percent: 0
                         File_size_elem_6_min_size: 8192
                         File_size_elem_6_max_size: 8192
                         File_size_elem_6_percent: 0
                         File_size_elem_7_min_size: 8192
                         File_size_elem_7_max_size: 16383
                         File_size_elem_7_percent: 100
                         File_size_elem_8_min_size: 16384
                         File_size_elem_8_max_size: 16384
                         File_size_elem_8_percent: 0
                         File_size_elem_9_min_size: 16384
                         File_size_elem_9_max_size: 32767
                         File_size_elem_9_percent: 0
                         File_size_elem_10_min_size: 32768
                         File_size_elem_10_max_size: 65535
                         File_size_elem_10_percent: 0
                         File_size_elem_11_min_size: 65536
                         File_size_elem_11_max_size: 65536
                         File_size_elem_11_percent: 0
                         File_size_elem_12_min_size: 98304
                         File_size_elem_12_max_size: 98304
                         File_size_elem_12_percent: 0
                         File_size_elem_13_min_size: 65536
                         File_size_elem_13_max_size: 131072
                         File_size_elem_13_percent: 0
                         File_size_elem_14_min_size: 262144
                         File_size_elem_14_max_size: 262144
                         File_size_elem_14_percent: 0
                         File_size_elem_15_min_size: 524288
                         File_size_elem_15_max_size: 524288
                         File_size_elem_15_percent: 0
                 Misc:
                     # Sizing info for file names
                     Min_pre_name_length: 6
                     Max_pre_name_length: 12
                     Min_post_name_length: 0
                     Max_post_name_length: 6
                     Percent_write_commit: 30
                     Percent_direct: 100
                     Percent_fadvise_seq: 0
                     Percent_fadvise_rand: 0
                     Percent_fadvise_dont_need: 0
                     Percent_madvise_seq: 0
                     Percent_madvise_rand: 0
                     Percent_madvise_dont_need: 0
                     Align: 0
                     Percent_osync: 0
                     Percent_geometric: 0
                     Percent_compress: 0
                     Percent_dedup: 0
                     Percent_dedup_within: 0
                     Percent_dedup_across: 0
                     Dedupe_group_count: 1
                     Percent_per_spot: 0
                     Min_acc_per_spot: 0
                     Acc_mult_spot: 5
                     Percent_affinity: 0
                     Spot_shape: 0
                     Dedup_Granule_size: 4096
                     Dedup_gran_rep_limit: 100
                     Unlink2_no_recreate: 0
                     Use_file_size_dist: 0
                     Comp_Granule_size: 8192
                     Background: 0
                     Sharemode: 0
                     Uniform_file_size_dist: 0
                     Rand_dist_behavior: 0
                     Cipher_behavior: 0
                     Notification_percent: 0
                     LRU: 0
                     Pattern_version: 1
                     Init_rate_enable: 0
                     Init_rate_speed: 0.0
                     Init_read_flag: 1
                     Release_version: 3
                     FS_type: "POSIX"

